html {
  body {
    &.dmt-hide-toolbar {
      margin-left: 0;

      .moderation-bar {
        display: none;
      }

      .moderation-actions {
        left: 20px;
      }
    }

    &.profile {
      .dmt-user-info {
        padding: 16px 0;
        text-align: left;

        > .header_label {
          margin: 0;
        }

        > code {
          display: inline-block;
          font-size: 13px;
          margin: 0 0 8px;
          padding: 0 8px;
        }
      }
    }
  }
}
